@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(245, 158, 11, 0.3);
  color: #fff;
}
